<h1>Lista de Alertas</h1>
<%= link_to 'Novo Alerta', new_taxweb_widgets_alert_path, class: 'btn btn-success btn-sm' %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= TaxwebWidgets::Alert.human_attribute_name("mtype") %></th>
      <th><%= TaxwebWidgets::Alert.human_attribute_name("message") %></th>
      <th><%= TaxwebWidgets::Alert.human_attribute_name("timeout") %></th>
      <th><%= TaxwebWidgets::Alert.human_attribute_name("start") %></th>
      <th><%= TaxwebWidgets::Alert.human_attribute_name("end") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.mtype %></td>
        <td><%= alert.message %></td>
        <td><%= alert.timeout %></td>
        <td><%= l alert.start, format: :short %></td>
        <td><%= l alert.end, format: :short %></td>
        <td><%= link_to 'Exibir', taxweb_widgets_alert_path(alert), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Editar', edit_taxweb_widgets_alert_path(alert), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Excluir', taxweb_widgets_alert_path(alert), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
