<h1>Exibir Alerta</h1>
<%= link_to 'Editar', edit_taxweb_widgets_alert_path(@alert), class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Voltar', taxweb_widgets_alerts_path, class: 'btn btn-default btn-sm' %>

<hr />
<p>
  <strong><%= TaxwebWidgets::Alert.human_attribute_name("mtype") %>:</strong>
  <%= @alert.mtype %>
</p>

<p>
  <strong><%= TaxwebWidgets::Alert.human_attribute_name("message") %>:</strong>
  <%= @alert.message %>
</p>

<p>
  <strong><%= TaxwebWidgets::Alert.human_attribute_name("timeout") %>:</strong>
  <%= @alert.timeout %>
</p>

<p>
  <strong><%= TaxwebWidgets::Alert.human_attribute_name("start") %>:</strong>
  <%= @alert.start %>
</p>

<p>
  <strong><%= TaxwebWidgets::Alert.human_attribute_name("end") %>:</strong>
  <%= @alert.end %>
</p>
